html {
  height: 100%;
}



a:link, a:visited, a:hover, a:active {
  color: black;
}

.home-link {
  font-size: 0.8rem;
  color: #fff;
}

.nav-link {
  font-size: 0.8rem;
  color: black;
}

.header {
  background-color: lightblue;
  height: 25px;
  font-size: 1rem;
  color: #fff;
}

.header p {
  font-size: 1rem;
  color: #fff;
  text-align: left;
  vertical-align: middle;
  display: table-cell;
}

a {
  text-decoration:none;
}

body {
  height: 100%;
}

.container {
  background-color: lavender;
  width: 980px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: lightblue;
  display: table;
}

.footer p {
  font-size: 1rem;
  color: black;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
